<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="keywords" content="fsgecgelibrary gecgelibrary">
  <meta name="author" content="Samet Geçgel">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
  <link rel="shortcut icon" type="image/x-icon" href="/resim/book.png">
  <link rel="stylesheet" href="/css/kitapekle.css">
  <title>GeçgeLibrary</title>
</head>
<body>
  <div class="container"> 
    <nav class="ust">
      <div class="kapsayici nav1">
        <div class="bas">
          <i class="fa-solid fa-book"></i>
          <h1>GeçgeLibrary</h1>
        </div>
          <div class="yazi">“Kitaplar zamanın büyük denizinde dikilmiş deniz fenerleridir.”</div>
        </div>
        <div class="nav-alt"><ul>
          <li><a href="/anasayfa" class="nav-link">Anasayfa</a></li>
          <% if (isAuth) { %> 
            <li><a href="#" class="nav-link"><%= fullname %></a></li>
            <li><a href="/" class="nav-link">Kitaplar</a></li>
            <li><a href="/kitapekle" class="nav-link">Kitap Ekle</a></li>
            <li><a href="/profil" class="nav-link">Hesabım</a></li>
            <% } %>
            
            <% if (isAuth) { %>
              <li><a href="/logout" class="nav-link">Çıkış Yap</a></li>
            <% } else { %>

              <li><a href="/register" class="nav-link">Kayıt Ol</a></li>
              <li><a href="/login" class="nav-link">Giriş Yap</a></li>
              <% } %>
        </ul></div>
      </nav>
        <div class="container">
          <form method="post" enctype="multipart/form-data" action="/kitapEkle?_csrf=<%= csrfToken %>">
                <div class="row">
                <div class="col-25">
                  <label for="kitapadi" class="col-sm-2 col-form-label">Kitap Adı:</label>
                </div>
                  <div class="col-75">
                    <input type="text" class="form-control" id="kitapadi" name="kitapadi">
                  </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="yazaradi" class="col-sm-2 col-form-label">Yazar Adı:</label>
                </div>
                  <div class="col-75">
                    <input type="text" class="form-control" id="yazaradi" name="yazaradi">
                  </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="yayinevi" class="col-sm-2 col-form-label">Yayınevi Adı:</label>
                </div>
                  <div class="col-75">
                    <input type="text" class="form-control" id="yayinevi" name="yayinevi">
                  </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="sayfasayisi" class="col-sm-2 col-form-label">Sayfa Sayısı:</label>
                </div>
                  <div class="col-75">
                    <input type="number" class="form-control" id="sayfasayisi" name="sayfasayisi">
                  </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="kategori" class="col-sm-2 col-form-label">Kategori:</label>
                </div>
                  <div class="col-75">
                    <input type="text" class="form-control" id="kategori" name="kategori">
                  </div>
              </div>
              <div class="row">
                <div class="col-25">
                  <label for="resim" class="col-sm-2 col-form-label">Resim url:</label>
                </div>
                  <div class="col-75">
                    <input type="text" class="form-control" id="resim" name="resim">
                  </div>
              </div>
                <div class="row">
                  <div>
                    <button class="btn btn-primary">Kitabı Ekle</button>
                  </div>
                </div>
              
            </form>
        </div>
        <footer class="footer">
          <i class="fa-solid fa-book"></i>
          <div class="footer-yazi">
            <h3 class="het">iletişim için benimle irtibata geçiniz.</h3>
            
            <h3>© 2023 Tüm Haklar bana aittir.</h3>
          </div>
        </footer>
      </div>
  </body>
  </html>